

.principal{
  
  
  padding:10px;
  margin-left: 5%;
   
}


.conteudo/*section principal do produto*/{
  
   background-color:#528B8B;
   margin-top:20px;
   width:900px;
   height:500px;
   float:left;
  
    
}

.imgColchao/*formatação da imagem*/{
  
  background-image: url(../img/back.png);
  width:92%;
  height:70%;
  margin-left:2%;
  margin-top: 2%;
  
}


aside{
  background-color:#104E8B;
  margin-top:10px;
  width:50%;
  margin-left: 10px;
  height:50%;
  float: left;
 
  
  
  
}

button{
  margin-left:3%;
  
}
#slider/*previous/next*/{
  
  margin-top:20px;
  height:90%;
  width:65%;
  transition: 3s;  
}


 #image1,#image2,#image3,#image4,#image5,#image6{
  margin:2%;
  background-color: #F0FFFF;
  height:17%;
  width:12%;
  float:left; 
  transition: 1s;
  border-
  border-color: #104E8B;  
}

#image1{
  background-image: url(../_img/colchao1/borda1.jpg);
  
}
#image2{
  background-image: url(../_img/colchao1/borda1.1.jpg);
  
}

#image3{
  background-image: url(../_img/colchao1/cima1.jpg);
}

#image4{
  background-image: url(../_img/colchao1/Colchao_ortobom_physical_mega_resistente.jpg);
}

#image1:hover{
  background-position: 50% 10%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
   transform: scale(1.5);
 transition: 1s;
}

#image2:hover{
 background-position: 50% 10%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
   transform: scale(1.5);
 transition: 1s;
}
#image3:hover{
  background-position: 50% 10%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
   transform: scale(1.5);
 transition: 1s;
}
#image4:hover{
background-position: 50% 10%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
   transform: scale(1.5);
 transition: 1s;
}

#image5:hover{
 background-position: 50% 10%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
   transform: scale(1.5);
 transition: 1s;
}
#image6:hover{
  background-position: 50% 10%;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
   transform: scale(1.5);
 transition: 1s;
}

#slider:active{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
   transform: scale(1.2);
  transition: 3s;
}


